<!DOCTYPE html>
<html>
    <head>
        <title>Our Mission</title>
         <link rel="stylesheet" href="../static/css/style.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<style>
			body {
				background-image: url('https://i.pinimg.com/originals/ec/b2/f1/ecb2f194ef1128afa6794ff05362231b.jpg');
			}
		</style>
    </head>
    <body> 
		<div class="topnav">
			<a class="active" href="/index">Home</a>
			<a href="/mission">Our Mission</a>
			<a href="/contact">Contact</a>
		</div>
    &nbsp;&nbsp;
        <h1>Our Mission</h1>
        <p class =  "solid">Our mission is to help you during the quarantine. We understand this has been a weird time, but you're not alone. 
           Not to sound discouraging, but quarantine is most likely going to last another year. Luckily, the Fintech Quarantine Buddy is here to make quarantine better. 
        </p>
        
    &nbsp;&nbsp;
        <!-- <form>
            <input type="text" name="nickname" placeholder="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form> -->
        </div>
        <img class= "robot" src="https://cdn1.iconfinder.com/data/icons/robots-avatars-set/354/Robot_chatbot___robot_robo_chatbot_digital_chat_bot-512.png" width = "100" height = "100">
        <p>&copy;</p>

    </body>
</html>
